/*==========================site styles======================*/
body
{
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.clr
{
    clear: both;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto' , sans-serif;
}
h1, h2, h3, h4, h5, h6
{
    margin: 0;
}
a:link, a:visited
{
    outline: none;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
fieldset, a img, img
{
    border: none;
}
:focus
{
    outline: none;
}
.hidden
{
    display: none;
}
hr
{
    display: none;
}
#wrapper
{
    overflow: hidden;
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}
#wrapper-in
{
    background-color: #fff; /*background: url(../images/header-bg.jpg) repeat center top;*/
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 99;
}
/*==========================header============================*/
#header, .header-services
{
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    z-index: 10;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.header-top
{
    padding: 40px 0;
}
.logo
{
    width: 97px;
    padding-top: 20px;
    padding-bottom: 16px;
    float: left;
    position: relative;
}
.logo a
{
    display: block;
    width: 100%;
}
/*==========================*/
#header.header-sroll
{
    /*background: url(../images/menu-bg.png) repeat left top;*/
    background-color: #fff;
    -webkit-box-shadow: 0 3px 5px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 3px 5px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 0 3px 5px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    position: fixed;
}
#header.header-sroll .header-top
{
    padding: 0;
}
#header.header-sroll .hotline-w
{
    display: none;
}
/*=========================*/
.wrapper-menu
{
    position: relative;
    padding: 15px 0;
    z-index: 99;
    top: 0;
    left: 0;
}
#updateie
{
    display: none;
}
#menu
{
    float: right;
    list-style: none;
    padding: 20px 0;
    margin: 0;
}
#menu a
{
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
#menu li
{
    position: relative;
}
#menu > li
{
    float: left;
    margin-right: 1px;
}
#menu > li > a
{
    color: #303030;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 17px;
}
#menu > li > a:hover, #menu > li:hover > a, #menu > li.active > a
{
    color: #f37121;
    text-decoration: none;
}
#menu ul
{
    border: none;
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 240px;
}
#menu > li > ul
{
    left: 0;
    top: 100%;
    padding-top: 1px;
}
#menu ul ul
{
    left: 100%;
    top: 0;
    padding-left: 1px;
}
#menu li li
{
    padding-bottom: 1px;
}
#menu li li a
{
    background-color: #333399;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 5px 10px;
    text-transform: capitalize;
}
#menu li li > a:hover, #menu li li:hover > a, #menu li li.active > a
{
    background-color: #ff9933;
    text-decoration: none;
}
/*========================menu mobile=================================================================*/
.menu-mo {
    color: #231f20;
    display: block;
    float: right;
    font-size: 9px;
    text-transform: uppercase;
    margin-left: 12px;
    line-height: 40px;
}
    .menu-mo span {
        color: #231f20;
        display: block;
        float: left;
        font-size: 26px;
        line-height: 40px;
        padding-right: 5px;
    }
    .menu-mo:hover, .menu-mo:visited, .menu-mo:focus {
        color: #231f20;
        text-decoration: none;
    }
.overflow
{
    overflow: hidden;
}
/*===================*/
.mobile-panel
{
    background-color: #fff;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 240px;
    /*z-index: 9999;*/
        opacity: 0;
	filter:alpha(opacity=0); 
}
.mobile-panel .menu-in
{
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.mask-panel, #mask-left, #mask-right
{
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    opacity: 0;
	filter:alpha(opacity=0); 
    height: 100%;
    width: 100%;
    z-index: 9998;
}
.mobile-panel p
{
    padding: 0;
    margin: 0;
}
.close-menu
{
    background-color: #009ed6;
    top: 0;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 30px;
    z-index: 10;
}
.close-menu a
{
    color: #fff;
    display: block;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    height: 100%;
    width: 100%;
}
    .close-menu a:hover {
        text-decoration: none;
    }
#menumobile .close-menu
{
    right: -30px;
}
#mobileRight .close-menu
{
    left: -30px;
}
.mobile-panel .menu-mobile
{
    position: relative;
    padding: 15px;
    z-index: 1;
}
/*===========================*/
.panel-overlay .mobile-panel{
    -ms-transition: transform 300ms ease 0s; /* IE 9 */
    -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
    transition: transform 300ms ease 0s;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/*IE8+*/  
        filter: alpha(opacity=100); /* IE7 and lower */ 
        z-index: 9999;
}
.panel-overlay .mobilep-left
{
    -webkit-box-shadow: 3px 0 6px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 0 6px #000;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 0 6px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /*left: -100%;*/
}
.panel-overlay .mobilep-right
{
    -webkit-box-shadow: -3px 0 6px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    -3px 0 6px #000;  /* Firefox 3.5 - 3.6 */
    box-shadow:         -3px 0 6px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
body .mobilep-left {
    -ms-transform: translate3d(-120%, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-120%, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-120%, 0px, 0px);
    left: 0;
    right: auto;
}
body .mobilep-right {
    -ms-transform: translate3d(120%, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(120%, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(120%, 0px, 0px);
    right: 0;
    left: auto;
}
.panel-overlay .mobile-active {
    transform: none;
}
/*===================================*/
.panel-reveal {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}
.panel-reveal .mobile-panel
{
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/*IE8+*/  
        filter: alpha(opacity=0); /* IE7 and lower */ 
        z-index: -1;
}
.panel-reveal .mobilep-left
{
    -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Firefox 3.5 - 3.6 */
    box-shadow:         -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /*left: -100%;*/
}
.panel-reveal .mobilep-right
{
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/*==========================================*/
.panel-reveal .open-in{
    z-index: 1;
}
.panel-reveal .mobilep-right {
    left: auto;
    right: 0;
}
.panel-reveal #wrapper-in {
    -ms-transition: transform 300ms ease 0s; /* IE 9 */
    -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
    transition: transform 300ms ease 0s;
}
.mobile-active-left #wrapper-in {
    -ms-transform: translate3d(240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(240px, 0px, 0px);
}
.mobile-active-left .mask-panel{
    left: 240px;
}
.mobile-active-right #wrapper-in {
    -ms-transform: translate3d(-240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-240px, 0px, 0px);
}
.mobile-active-right .mask-panel{
    left: auto;
    right: 240px;
}
/*====================================*/
.menu-mobile .title {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 24px;
}
.menu-mobile .logo {
    float: none;
    margin: 0 auto 15px;
    padding: 0;
}
.menu-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.menu-nav > li {
    padding-bottom: 1px;
}
.menu-nav > li > a {
    background-color: #303030;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 7px 25px 7px 10px;
    text-transform: uppercase;
    position: relative;
}
.menu-nav .iconar {
    display: block;
    font-size: 22px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    right: 5px;
    top: 50%;
    margin-top: -15px;
    position: absolute;
    width: 30px;
    opacity: 0.8;
}
.menu-nav > li > a:hover, .menu-nav > li:hover > a, .menu-nav > li.active > a {
    background-color: #f37121;
}
.menu-nav a:hover {
    text-decoration: none;
}
/*==============search====================*/
.form-search
{
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}
.form-search .search-btnmo
{
    background: url(../images/icon-search.png) no-repeat left 9px;
    border: none;
    cursor: pointer;
    display: block;
    float: right;
    padding: 0;
    height: 32px;
    width: 32px;
}
.form-search .search-input
{
    overflow: hidden;
    padding-left: 10px;
}
.form-search .search-text
{
    /*background-color: #3366cc;*/
    background-color: #fff;
    border: none;
    color: #999;
    display: block;
    font-size: 14px;
    font-style: italic;
    height: 32px;
    line-height: 32px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.search-head
{
    float: right;
    position: relative;
    z-index: 2;
}
.search-head .search-click
{
    float: right;
    position: relative;
    padding: 28px 15px;
}
.search
{
    right: 0;
    position: absolute;
    top: 100%;
    display: none;
    line-height: 0;
    padding: 6px 10px 8px 40px;
    background-color: #d2d2d2;
}
.search > span
{
    font-size: 24px;
    left: 10px;
    position: absolute;
    top: 20px;
}
.search > span a, .search > span a:hover
{
    color: #303030;
    text-decoration: none;
}
.search-btn
{
    background: url(../images/icon-search.png) no-repeat center center;
    border: none;
    cursor: pointer;
    display: block;
    height: 34px;
    width: 42px;
    position: absolute;
    right: 10px;
}
.search .search-text
{
    background-color: #fff;
    border: 1px solid;
    font-size: 14px;
    font-style: italic;
    height: 32px;
    line-height: 32px;
    padding: 5px;
    width: 240px;
}
/*=========================*/
#header .form-search
{
    /*background-color: #3366cc;*/
    background-color: #fff;
    border: 2px solid #d2d2d2;
    overflow: hidden;
    width: auto;
}
.hotline-w
{
    overflow: hidden;
    width: 100%;
}
/*============================header services===================*/
.header-services {
    border-bottom: 1px solid #e3e3e3;
}
.header-services.header-sroll
{
    /*background: url(../images/menu-bg.png) repeat left top;*/
    background-color: #fff;
    -webkit-box-shadow: 0 3px 5px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 3px 5px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 0 3px 5px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    position: fixed;
}
.header-services #banner, .banner-ser {
    margin: 0 !important;
}
.header-services #menu {
    padding: 18px 0;
}
.header-services #menu > li > a {
    padding: 0 15px;
}
.header-services .logo {
    padding-top: 5px;
    padding-bottom: 5px;
}
.header-services .wrapper-menu {
    padding: 5px 0;
}
.logoServices {
    width: 100%;
    position: absolute;
    top: 57px;
    left: 0;
}
.logoServices img {
    margin: 0 auto;
}
.border-none {
    border: none !important;
}
/*========================================main========================*/
#banner {
    position: relative;
    overflow: hidden;
    margin-bottom: 54px;
    width: 100%;
    z-index: 1;
}
#banner .link-show {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.link-show a {
    color: #252525;
    display: inline-block;
    line-height: 24px;
    font-size: 18px;
    padding: 15px 30px;
    background-color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
    text-decoration: none;
}
.link-show span {
    padding-left: 10px;
}
.wrapper-880 {
    color: #282828;
    border-top: 1px solid #000;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 auto;
    padding: 35px 0;
}
.wrapper-880 .desription {
    width: 55%;
    margin: 0 auto;
}
.font-20 {
    font-size: 20px;
}
.title-1 {
    color: #282828;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 5px;
}
/*==============*/
.wrap-section {
    color: #484848;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    padding: 10px 0 40px;
    width: 100%;
    position: relative;
}
.wrap-section .section-list {
    float: left;
    position: relative;
    list-style: none;
    padding: 0;
    width: 68%;
    margin-right: 2px;
}
.wrap-section .section-box {
    overflow: hidden;
    position: relative;
    width: 31%;
}
.wrap-section .section-img {
    display: block;
    overflow: hidden;
    width: 100%;
}
.section-list li {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.section-list li .section-img img, .section-box .section-img img {
    -webkit-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -moz-transition: all 3s ease;
    transition: all 3s ease;
}
.section-list li:hover .section-img img, .wrap-section .section-box:hover .section-img img {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);   
    -moz-transform: scale(1.5);
    transform: scale(1.5);
}
.section-list li:first-child {
    width: 100%;
    padding: 0 2px 3px;
} 
.section-list li:nth-child(2), .section-list li:last-child {
    width: 50%;
    float: left;
    padding: 0 2px;
} 
/*.wrap-section .section-box:first-child {
    width: 70%;
}*/
.wrap-section .content {
    position: absolute;
    top: 20%;
    left: 4%;
    text-align: center;
}
.section-list li:nth-child(2) .content, .section-list li:last-child .content, .section-box .content {
    width: 100%;
    left: 0;
    top: 10%;
    padding: 0 50px;
} 
.wrap-section .section-name, .wrap-section .section-name a {
    font-size: 24px;
    line-height: 30px;
    color: #484848;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'UTM Futura Extra';
}
.wrap-section .section-name strong {
    font-size: 36px;
    display: block;
    line-height: 36px;

}
.wrap-section .section-name a:hover, .more-details a:hover {
    text-decoration: none;
}
.wrap-section .desription {
    text-align: center;
    background: url('../images/line-title.png') no-repeat top center;
    margin: 10px 0;
    padding-top: 5px;
}
.more-details a {
    background-color: #ebeaec;
    color: #484848;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 20px;
    border: 1px solid #484848;
    width: 108px;
    margin: 0 auto;
}
/*==========================*/
.section-tb .box-clothes {
    margin: 0 0 15px;
    border: 2px solid #ff7920;
    position: relative;
}
.box-clothes .section-img, .box-clothes .section-img img {
    display: block;
    width: 100%;
}
.box-clothes .section-content {
    position: absolute;
    top: 20px;
    left: 0;
    text-align: center;
    padding: 0 30px;
    width: 100%;
}
.box-clothes .section-name, .box-clothes .section-name a {
    font-size: 26px;
    line-height: 35px;
    color: #ff7920;
}
.box-clothes .description {
    border-bottom: 2px solid #7f7f7f;
    border-top: 2px solid #7f7f7f;
    font-size: 14px;
    line-height: 26px;
}
.content-bottom {
    top: 80% !important;
}
.gender {
    width: 100%;
}
.gender li {
    float: left;
}
/*============services============*/
.box-services {
    padding: 15px 0;
}
.services-img {
    display: block;
    font-size: 0;
    cursor: pointer;
    width: 45%;
    margin: 0 auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}
.services-img img {
    border-radius: 50%;
     -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    width: 100%;
}
.title-services, .title-services a {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #252525;
}
.box-services .description {
    text-align: center;
    overflow: hidden;
    margin: 12px 0 20px;
    max-height: 66px;
    width: 100%;
    font-size: 13px;
    line-height: 22px;
}
.box-services .more-details a {
    background-color: #fff;
}
/*=======services view=======*/ 
.wrap-view {
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    height: 0;
    width: 100%;
}
.view-wrap {
    background-color: #ececec;
    padding: 30px;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.wrap-view .close-view {
    right: 10px;
    top: 10px;
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 99;
}
.wrap-view .close-view a {
    color: #656565;
    display: block;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    line-height: 30px;
    width: 100%;
}
.wrap-section .list-object {
    float: left;
    position: relative;
    list-style: none;
    padding: 0;
    width: 100%;
    margin-right: 2px;
}
.list-object li {
    overflow: hidden;
    width: 24.9%;
    position: relative;
    float: left;
}
.list-object li:first-child {
    width: 26.3%;
}
.list-object li:nth-child(3) {
    width: 31.4%;
}
.list-object li:nth-child(4) {
    width: 16.4%;
}
.list-object li:nth-child(5) {
    width: 46.6%;
}
.list-object li:nth-child(6) {
    width: 25.5%;
}
.list-object li:last-child {
    width: 26.8%;
}
.list-object .object-img {
    display: block;
    overflow: hidden;
    width: 100%;
}
.list-object .content {
    position: absolute;
    top: 55%;
    left: 4%;
    width: 42%;
    text-align: center;
}
.list-object li:nth-child(3) .content, .list-object li:nth-child(3) .desription, .list-object li:nth-child(5) .content, .list-object li:nth-child(5) .desription {
    top: 20%;
    text-align: left;
}
.list-object li:nth-child(3) .desription, .list-object li:nth-child(5) .desription {
    width: 80%;
    padding: 0;
    background: none;
}
.list-object li:nth-child(4) .content, .list-object li:nth-child(6) .content {
    width: 100%;
    left: 0;
    padding: 0 56px;
}
.list-object .object-name, .list-object .object-name a {
    font-size: 18px;
    line-height: 24px;
    color: #484848;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'UTM Futura Extra';
}
.list-object li:nth-child(3) .object-name, .list-object li:nth-child(3) .object-name a, .list-object li:nth-child(3) .desription, .list-object li:nth-child(4) .object-name a,.list-object li:nth-child(6) .object-name a {
    color: #fff;
}
.list-object .desription {
    text-align: center;
    background: url('../images/line-title.png') no-repeat top center;
    margin: 10px 0;
    padding-top: 5px;
}
.head-2 {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.menu-control {
    margin: 0 96px;
    width: 88%;
    overflow: hidden;
    text-align: center;
    list-style: none;
}
.menu-control li 
{
    float: left;
    margin-right: 10px;
    border: 1px solid #e9e9e9;
    position: relative;
}
.menu-control li a {
    color: #252525;
    font-size: 13px;
    font-weight: 400;
    padding: 6px 30px;
    display: block;
    line-height: 24px;
    margin: 0;
}
.menu-control .link-tabs {
    text-transform: uppercase;
}
.menu-control li:hover, .menu-control li.ui-tabs-active {
    border: 1px solid #fa7a10;
    border-bottom: none;
    background-color: #fa7a10;
    color: #fff;
}
.menu-control li:hover a, .menu-control li.ui-tabs-active a {
    color: #fff;
    text-decoration: none;
}
.section-tabs {
    padding-top: 30px;
}
.list-models {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-models li {
    float: left;
    width: 20%;
    overflow: hidden;
    background-color: #000;
    border-color: #000;
}
.list-models li a {
    display: block;
    width: 100%;
}
.list-models li a img {
    background: none;
    display: inline-block;
}
.list-models li:hover img{
    opacity: .5;
    background-color: #000;
}
/*===============*/
.wrap-section .table-fabric, .wrap-section .table-price {
    color: #484848;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}
.wrap-section .table-fabric th, .wrap-section .table-price th {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.wrap-section .table-fabric td, .wrap-section .table-price td {
    background-color: #fff;
}
.wrap-section .table-fabric th, .wrap-section .table-fabric td, .wrap-section .table-price th, .wrap-section .table-price td {
    border: solid 1px #cecece;
    padding: 7px 20px;
    line-height: 22px;
}
.wrap-section .table-fabric th:first-child, .wrap-section .table-fabric td:first-child, .wrap-section .table-fabric th:nth-child(2), .wrap-section .table-fabric td:nth-child(2) {
    width: 14%;
}
.wrap-section .table-fabric td:nth-child(2) {
    padding: 0;
}
.wrap-section .table-fabric td:first-child {
    color: #7f7f7f;
    font-size: 18px;
    line-height: 24px;
    padding: 40px 12px;
    font-weight: 700;
}
.wrap-section .table-fabric td:nth-child(3) {
    width: 24%;
    padding: 50px 12px;
    background-color: #ebeaec;
    font-weight: 400;
}
.wrap-section .table-fabric td:nth-child(4) {
    width: 47%;
    font-weight: 400;
}
.list-color {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    float: left;
    padding: 50px 12px;
}
.list-color li {
    width: 20%;
    float: left;
    padding: 10px;
}
.list-color li img {
    display: block;
    width: 100%;
}
/*========production technology======*/
.wrap-boximg {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.wrap-boximg .box-col {
    float: left;
    width: 30%;
}
.box-in {
    padding: 0 40px;
}
.wrap-images {
    overflow: hidden;
    width: 100%;
}
.intro-img {
    display: block;
    width: 100%;
}
.intro-img img {
    background: none;
    display: inline-block;
}
.name-link a {
    color: #202020;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 0;
}
/*=======table price======*/
.wrap-section .table-price th, .wrap-section .table-price td {
    width: 14%;
}
.wrap-section .table-price th {
    background-color: #0b425b;
    font-size: 14px;
    line-height: 22px;
}
.wrap-section .table-price td {
    font-size: 14px;
    color: #252525;
    font-weight: 400;
}
.wrap-section .table-price tr:first-child th {
    border-bottom: none;
    vertical-align: middle;
}
.wrap-section .table-price tr:nth-child(2) th {
    background-color: #4996ba;
    border-top: none;
}
/*=====suicide====*/
.display-none {
    display: none;
}
.header-tv {
    background: url('../images/bg-header-tv.png') repeat left top !important;
    border: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.title-tv {
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    width: 100%
}
.title-tv span {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 28px 72px;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}
.title-2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    background: url('../images/bg-title.png') repeat-x center center;
}
.title-2 span {
    background-color: #fff;
    padding: 0 10px;
}
.wrap-suicide {
    padding: 40px 0 0;
}
.box-suicide {
    padding: 30px 0;
}
.suicide-img {
    display: block;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}
.suicide-img img {
    display: inline-block;
    width: 100%;
}
.title-suicide, .title-suicide a {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
    line-height: 22px;
    color: #252525;
}
.title-suicide a:hover {
    text-decoration: none;
}
.box-suicide .description {
    text-align: center;
    overflow: hidden;
    margin: 12px 0 20px;
    max-height: 66px;
    width: 100%;
    font-size: 13px;
    line-height: 24px;
}
.box-suicide .more-details a {
    color: #ff5a00;
    text-transform: none;
    font-size: 12px;
    line-height: 22px;
    border: none;
    background-color: #fff;
}
/*=====pager====*/
.pager {
    text-align: center;
    vertical-align: top;
    font-size: 0;
    margin: 0 0 10px;
    width: 100%;
    padding-top: 11px;
}
.pager a, .pager span span {
    background: #fff;
    color: #151515;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin-left: 3px;
    vertical-align: top;
    width: 24px;
}
.pager .first, .pager .last {
    font-size: 10px;
}
.pager a:hover, .pager a.current {
    background-color: #f37121;
    border-color: #000;
    color: #fff;
    text-decoration: none;
}
/*========================*/
.bg-order {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}
#orderTab {
    position: absolute;
    top: 16%;
    left: 0;
    margin: 0 auto;
}
.menu-qt {
    width: 100%;
    margin: 0 25px;
}
.menu-qt li {
    background-color: #ff7920;
    border: 1px solid #ff7920;
    margin-right: 12px;
}
.menu-qt li a {
    color: #fff;
    padding: 6px 11px;
    font-size: 16px;
    line-height: 22px;
}
.menu-qt li:hover, .menu-qt li.ui-tabs-active {
    border: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    color: #000;
    background-color: #fff;
}
.bg-button-left {
    position: absolute;
    left: -14px;
    top: -1px;
    background: url('../images/bg-button-left.png') no-repeat left center;
    width: 100%;
    height: 106%;
}
.bg-button-right {
    position: absolute;
    right: -10px;
    top: -1px;
    background: url('../images/bg-button-right.png') no-repeat right center;
    width: 100%;
    height: 103%;
}
/*=============================footer======================*/
#footer
{
    background-color: #ff7920;
    padding: 70px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
#footer2 {
    padding: 50px 0 10px;
    position: relative;
    width: 100%;
    z-index: 1;
}
#footer, #footer a, #footer2, #footer2 a, #footer3, #footer3 a
{
    color: #484848;
    font-size: 14px;
    line-height: 20px;
}
#footer2 h4
{
    color: #000; 
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0;
}
.footer-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/footer-left.png') no-repeat left center;
}
.footer-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/footer-right.png') no-repeat right center;
}
.title-footer {
    color: #fff;
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    display: block;
}
.footer-content {
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    width: 45%;
}
#footer .hotline {
    border-left: 2px solid #fff;
    padding-left: 56px;
    padding-top: 20px;
    font-size: 24px;
    color: #fff;
}
#footer .hotline p {
    padding: 45px 0 10px;
    background: url('../images/icon-hotline.png') no-repeat 82px 2px;
}
#footer .hotline span {
    font-size: 36px;
}
.list-address
{
    list-style: none;
    padding: 0;
    width: 100%;
}
.list-address li
{
    position: relative;
    margin-bottom: 5px;
    font-size: 13px;
}
.list-address .glyphicon
{
    display: block;
    font-size: 13px;
    left: 0;
    top: 0;
    height: 20px;
    line-height: 20px;
    position: absolute;
    width: 20px;
}
.logo-footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: url('../images/line-logo-footer.png') repeat-x center center;
}
.logo-footer img {
    background-color: #fff;
    padding: 0 10px;
}
.share-fa {
    text-align: center;
    font-size: 0;
    padding: 30px 0 15px;
    width: 100%;
}
.share-fa a {
    color: #606166;
    display: inline-block;
    font-size: 12px;
    padding: 0 2px;
}
#footer3 p {
    text-align: center;
    width: 100%;
}
/*===============*/
#sroltop
{
    bottom: 30px;
    right: 0;
    position: fixed;
    height: 40px;
    width: 40px;
    z-index: 999;
}
#sroltop a
{
    background-color: #eb1921;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 28px;
    height: 100%;
    text-align: center;
    line-height: 44px;
    width: 100%;
}
#sroltop a
{
    display: block;
}
/*=============================================site-repond==============================*/
 .desktop-showhide, .desktop-992
 {
     display: block;
 }
 .mobile-showhide, .ipadmo-992
 {
     display: none;
 }
 .menu-sroll
 {
    -webkit-box-shadow: 0 3px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 3px 5px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 3px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
     position: fixed;
     z-index: 9997;
 }
 /* Large desktop */
@media (min-width: 1200px)
{
    
}
@media (min-width: 993px) and (max-width: 1199px)
{
    .sologan {
        width: 320px;
    }
    .hotline {
        background-position: left bottom;
        font-size: 16px;
        line-height: 22px;
        margin-top: 0;
    }
    .list-hotline {
        font-size: 24px;
        line-height: 30px;
    }
    #menu > li > a {
        font-size: 15px;
        line-height: 44px;
        padding: 0 6px;
    }
    .header-services #menu > li > a {
        padding: 0 5px;
    }
    #menu li li a {
        font-size: 13px;
        line-height: 20px;
    }
    #menu ul {
        width: 210px;
    }
    #header .form-search {
        margin-top: 6px;
    }
    /*==================*/
    .section-list li:nth-child(2) .content, .section-list li:last-child .content, .section-box .content {
        padding: 0 20px;
    }
}
@media (min-width: 993px)
{
}
@media (max-width: 992px)
{
    .desktop-992 {
        display: none;
    }
    .ipadmo-992 {
        display: block;
    }
    #header .form-search {
        margin-top: 4px;
        margin-left: 60px;
    }
    .hotline {
        background-position: left bottom;
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
    }
    .section-list li:nth-child(2) .content, .section-list li:last-child .content, .section-box .content {
        padding: 0 20px;
    }
    .section-list li .section-img img, .section-box .section-img img {
        width: 100%;
    }
    .section-list li:nth-child(2), .section-list li:last-child {
        width: 54.6%;
    }
    .section-list li:last-child {
        padding-top: 3px;
    }
    .wrap-section .section-list {
        width: 100%;
    }
    .wrap-section .section-box {
        width: 45.3%;
        position: absolute;
        top: 34.3%;
        left: 54.6%;
    }
    /*=============*/
    #footer .logo {
        margin: 0 auto;
    }
    .title-footer {
        width: 100%;
    }

}
@media (min-width: 768px)
{
    #header.header-sroll .logo, .header-services.header-sroll .logo {
        padding: 3px 0;
        width: 50px;
    }
    #header.header-sroll .wrapper-menu, #header.header-sroll #menu, .header-services.header-sroll .wrapper-menu, .header-services.header-sroll #menu {
        padding: 2px 0;
    }
    #header.header-sroll .search-head .search-click {
        padding: 12px 15px;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px)
{
    
    #header .logo, .header-services .logo {
        width: 40px;
        padding: 2px 0 0;
    }
    .wrapper-menu, .header-services .wrapper-menu {
        padding: 0;
    }    
    .box-clothes .section-name a {
        font-size: 16px;
        line-height: 22px;
     }
     .box-clothes .section-content {
        top: 12px;
     }
     .content-bottom {
        top: 70% !important;
     }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
{
     .desktop-showhide
     {
         display: none !important;
     }
     .mobile-showhide
     {
         display: block !important;
     }
     #header.header-sroll .logo, .header-services.header-sroll .logo {
         padding: 3px 0;
         width: 50px;
     }
     #header.header-sroll .wrapper-menu, #header.header-sroll #menu, .header-services.header-sroll .wrapper-menu, .header-services.header-sroll #menu {
         padding: 2px 0;
     }
     #header.header-sroll .search-head .search-click {
         padding: 8px 15px;
     }
     #header .logo, .header-services .logo {
         width: 40px;
         padding: 2px 0 0;
     }
     .wrapper-menu, .header-services .wrapper-menu {
         padding: 0;
     } 
     .link-show a {
         line-height: 20px;
         font-size: 16px;
     }
     .title-1 {
         font-size: 40px;
         line-height: 50px;
     }
     #footer .hotline span {
         font-size: 30px;
     }
     
}
@media (min-width: 481px) and (max-width: 767px)
{
}
@media (min-width: 640px) and (max-width: 767px)
{
    .hotline {
        font-size: 11px;
        line-height: 16px;
    }
    .list-hotline {
        font-size: 18px;
        line-height: 22px;
    }
    .title-tv span 
    {
        padding: 12px 36px;
        font-size: 30px;
    }
}
@media (max-width: 639px)
{
    .wrapper-menu {
        padding: 0;
    }
    #header .logo {
        margin: 0 auto;
        width: 40px;
        padding: 4px 0 0;
    }
    .header-top {
        padding: 6px 0;
    }
    .header-top .col-xs-6 {
        width: 100%;
    }
    .hotline-w {
        display: none;
    }
    #header .form-search {
        margin-left: 60px;
        margin-top: 4px;
    }
    .menu-mo {
        float: right;
    }
    #header .form-search .search-btn {
        background-position: center center;
        float: left;
        height: 32px;
    }
    #header .form-search .search-text {
        color: #252525;
        font-size: 13px;
        padding-left: 10px;
    }
    #header .form-search .search-input {
        padding: 0;
    }
    .nivo-controlNav {
        display: none;
    }
    .link-show a {
        line-height: 12px;
        font-size: 12px;
    }
    /*========*/
    .wrap-section .content {
        top: 16%;
        left: 2%;
    }
    .wrap-section .section-name, .wrap-section .section-name a {
        font-size: 20px;
        line-height: 24px;
    }
    .wrap-section .section-name strong {
        font-size: 25px;
        line-height: 30px;
    }
    .section-list li:first-child .desription {
        margin: 2px 0;
        width: 160px;
    }
    .more-details a {
        width: 85px;
        font-size: 11px;
        line-height: 20px;
    }
    .section-box .more-details a {
        font-size: 13px;
        line-height: 25px;
        width: 108px;
    }
    .section-list li .section-img img, .section-box .section-img img {
        width: 100%;
    }
    .section-list li:nth-child(2), .section-list li:last-child {
        width: 100%;
    }
    .wrap-section .section-list, .wrap-section .section-box {
        padding: 0 30px;
    }
    .wrap-section .section-box {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .title-1 {
        font-size: 32px;
        line-height: 42px;
    }
    .wrapper-880 .desription {
        width: 100%;
        font-size: 12px;
    }
    .section-box .content {
        top: 6%;
        left: 2%;
    }
    .section-box .section-name, .section-box .section-name a {
        font-size: 25px;
        line-height: 30px;
    }
    .section-box .section-name strong {
        font-size: 28px;
        line-height: 32px;
    }
    #footer h4 {
        font-size: 30px;
        line-height: 40px;
    }
    .footer-left, .footer-right {
        background: none;
    }
    #footer .col-xs-6, #footer2 .col-xs-6 {
        width: 100%;
    }
    #footer2 h4, .list-address {
        text-align: center;
    }
    #footer2 img {
        margin: 0 auto;
    }
    .footer-content {
        width: 100%;
    }
    .section-tb .col-xs-6 {
        width: 100%;
    }
    .section-tb .box-clothes {
        margin: 0 32px 15px;
    }
    .title-tv span 
    {
        padding: 12px 36px;
        font-size: 30px;
    }
}
@media (max-width: 479px)
{
    #header .form-search {
        overflow: hidden;
        width: auto;
    }
    .product-box, .product-name a {
        font-size: 13px;
        line-height: 20px;
    }
    /*========*/
    .wrap-section .content {
        top: 18%;
        left: 2%;
    }
    .wrap-section .section-name, .wrap-section .section-name a {
        font-size: 16px;
        line-height: 20px;
    }
    .wrap-section .section-name strong {
        font-size: 22px;
        line-height: 24px;
    }
    .section-list li:first-child .desription {
        margin: 2px 0;
        width: 140px;
        font-size: 10px;
        line-height: 14px;
    }
    .more-details a {
        width: 70px;
        font-size: 10px;
        line-height: 15px;
    }
    .section-list li .section-img img, .section-box .section-img img {
        width: 100%;
    }
    .section-list li:nth-child(2), .section-list li:last-child {
        width: 100%;
    }
    .wrap-section .section-list, .wrap-section .section-box {
        padding: 0;
    }
    .wrap-section .section-box {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .title-1 {
        font-size: 28px;
        line-height: 35px;
    }
    .wrapper-880 .desription {
        width: 100%;
        font-size: 12px;
    }
    .section-tb .box-clothes {
        margin: 0 15px 15px;
    }
}
@media (max-width: 419px)
{
    .wrap-section .content {
        top: 12%;
    }
   .section-list li:first-child .section-name, .wrap-section .section-name a {
        font-size: 13px;
        line-height: 16px;
    }
    .section-list li:first-child .section-name strong {
        font-size: 18px;
        line-height: 20px;
    }
    .title-tv {
        top: 30%;
    }
    .title-tv span 
    {
        padding: 10px 36px;
        font-size: 12px;
    }
}
@media (max-width: 359px)
{
    .product-box, .product-name a {
        font-size: 12px;
        line-height: 16px;
    }
}
@media (max-width: 319px)
{
}