/*==========================site styles======================*/
body
{
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.clr
{
    clear: both;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto' , sans-serif;
}
h1, h2, h3, h4, h5, h6
{
    margin: 0;
}
a:link, a:visited
{
    outline: none;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
fieldset, a img, img
{
    border: none;
}
:focus
{
    outline: none;
}
.hidden
{
    display: none;
}
hr
{
    display: none;
}
#wrapper
{
    overflow: hidden;
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}
#wrapper-in
{
    background-color: #fff; /*background: url(../images/header-bg.jpg) repeat center top;*/
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 99;
}
/*==========================header============================*/
#header
{
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    z-index: 10;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.header-top
{
    padding: 40px 0;
}
.logo
{
    width: 97px;
    padding-top: 20px;
    padding-bottom: 16px;
    float: left;
    position: relative;
}
.logo a
{
    display: block;
    width: 100%;
}
/*==========================*/
#header.header-sroll
{
    /*background: url(../images/menu-bg.png) repeat left top;*/
    background-color: #fff;
    -webkit-box-shadow: 0 3px 5px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 3px 5px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 0 3px 5px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    position: fixed;
}
#header.header-sroll .header-top
{
    padding: 0;
}
#header.header-sroll .hotline-w
{
    display: none;
}
/*=========================*/
.wrapper-menu
{
    position: relative;
    padding: 15px 0;
    z-index: 99;
    top: 0;
    left: 0;
}
#updateie
{
    display: none;
}
#menu
{
    float: right;
    list-style: none;
    padding: 20px 0;
    margin: 0;
}
#menu a
{
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
#menu li
{
    position: relative;
}
#menu > li
{
    float: left;
    margin-right: 1px;
}
#menu > li > a
{
    color: #303030;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 17px;
}
#menu > li > a:hover, #menu > li:hover > a, #menu > li.active > a
{
    color: #f37121;
    text-decoration: none;
}
#menu ul
{
    border: none;
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 240px;
}
#menu > li > ul
{
    left: 0;
    top: 100%;
    padding-top: 1px;
}
#menu ul ul
{
    left: 100%;
    top: 0;
    padding-left: 1px;
}
#menu li li
{
    padding-bottom: 1px;
}
#menu li li a
{
    background-color: #333399;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 5px 10px;
    text-transform: capitalize;
}
#menu li li > a:hover, #menu li li:hover > a, #menu li li.active > a
{
    background-color: #ff9933;
    text-decoration: none;
}
/*========================menu mobile=================================================================*/
.menu-mo {
    color: #231f20;
    display: block;
    float: right;
    font-size: 9px;
    text-transform: uppercase;
    margin-left: 12px;
    line-height: 40px;
}
    .menu-mo span {
        color: #231f20;
        display: block;
        float: left;
        font-size: 26px;
        line-height: 40px;
        padding-right: 5px;
    }
    .menu-mo:hover, .menu-mo:visited, .menu-mo:focus {
        color: #231f20;
        text-decoration: none;
    }
.overflow
{
    overflow: hidden;
}
/*===================*/
.mobile-panel
{
    background-color: #fff;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 240px;
    /*z-index: 9999;*/
        opacity: 0;
	filter:alpha(opacity=0); 
}
.mobile-panel .menu-in
{
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.mask-panel, #mask-left, #mask-right
{
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    opacity: 0;
	filter:alpha(opacity=0); 
    height: 100%;
    width: 100%;
    z-index: 9998;
}
.mobile-panel p
{
    padding: 0;
    margin: 0;
}
.close-menu
{
    background-color: #009ed6;
    top: 0;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 30px;
    z-index: 10;
}
.close-menu a
{
    color: #fff;
    display: block;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    height: 100%;
    width: 100%;
}
    .close-menu a:hover {
        text-decoration: none;
    }
#menumobile .close-menu
{
    right: -30px;
}
#mobileRight .close-menu
{
    left: -30px;
}
.mobile-panel .menu-mobile
{
    position: relative;
    padding: 15px;
    z-index: 1;
}
/*===========================*/
.panel-overlay .mobile-panel{
    -ms-transition: transform 300ms ease 0s; /* IE 9 */
    -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
    transition: transform 300ms ease 0s;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/*IE8+*/  
        filter: alpha(opacity=100); /* IE7 and lower */ 
        z-index: 9999;
}
.panel-overlay .mobilep-left
{
    -webkit-box-shadow: 3px 0 6px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 0 6px #000;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 0 6px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /*left: -100%;*/
}
.panel-overlay .mobilep-right
{
    -webkit-box-shadow: -3px 0 6px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    -3px 0 6px #000;  /* Firefox 3.5 - 3.6 */
    box-shadow:         -3px 0 6px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
body .mobilep-left {
    -ms-transform: translate3d(-120%, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-120%, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-120%, 0px, 0px);
    left: 0;
    right: auto;
}
body .mobilep-right {
    -ms-transform: translate3d(120%, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(120%, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(120%, 0px, 0px);
    right: 0;
    left: auto;
}
.panel-overlay .mobile-active {
    transform: none;
}
/*===================================*/
.panel-reveal {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}
.panel-reveal .mobile-panel
{
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/*IE8+*/  
        filter: alpha(opacity=0); /* IE7 and lower */ 
        z-index: -1;
}
.panel-reveal .mobilep-left
{
    -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Firefox 3.5 - 3.6 */
    box-shadow:         -5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /*left: -100%;*/
}
.panel-reveal .mobilep-right
{
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 0 5px rgba(0, 0, 0, 0.15) inset;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/*==========================================*/
.panel-reveal .open-in{
    z-index: 1;
}
.panel-reveal .mobilep-right {
    left: auto;
    right: 0;
}
.panel-reveal #wrapper-in {
    -ms-transition: transform 300ms ease 0s; /* IE 9 */
    -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
    transition: transform 300ms ease 0s;
}
.mobile-active-left #wrapper-in {
    -ms-transform: translate3d(240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(240px, 0px, 0px);
}
.mobile-active-left .mask-panel{
    left: 240px;
}
.mobile-active-right #wrapper-in {
    -ms-transform: translate3d(-240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-240px, 0px, 0px);
}
.mobile-active-right .mask-panel{
    left: auto;
    right: 240px;
}
/*====================================*/
.menu-mobile .title {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 24px;
}
/*==============search====================*/
.form-search
{
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}
.form-search .search-btnmo
{
    background: url(../images/icon-search.png) no-repeat left 9px;
    border: none;
    cursor: pointer;
    display: block;
    float: right;
    padding: 0;
    height: 32px;
    width: 32px;
}
.form-search .search-input
{
    overflow: hidden;
    padding-left: 10px;
}
.form-search .search-text
{
    background-color: #3366cc;
    border: none;
    color: #999;
    display: block;
    font-size: 14px;
    font-style: italic;
    height: 32px;
    line-height: 32px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.search-head
{
    float: right;
    position: relative;
    z-index: 2;
}
.search-head .search-click
{
    float: right;
    position: relative;
    padding: 28px 15px;
}
.search
{
    right: 0;
    position: absolute;
    top: 100%;
    display: none;
    line-height: 0;
    padding: 6px 10px 8px 40px;
    background-color: #d2d2d2;
}
.search > span
{
    font-size: 24px;
    left: 10px;
    position: absolute;
    top: 20px;
}
.search > span a, .search > span a:hover
{
    color: #303030;
    text-decoration: none;
}
.search-btn
{
    background: url(../images/icon-search.png) no-repeat center center;
    border: none;
    cursor: pointer;
    display: block;
    height: 34px;
    width: 42px;
    position: absolute;
    right: 10px;
}
.search .search-text
{
    background-color: #fff;
    border: 1px solid;
    font-size: 14px;
    font-style: italic;
    height: 32px;
    line-height: 32px;
    padding: 5px;
    width: 240px;
}
/*=========================*/
#header .form-search
{
    background-color: #3366cc;
    overflow: hidden;
    width: auto;
}
.hotline-w
{
    overflow: hidden;
    width: 100%;
}
/*========================================main========================*/
#banner {
    position: relative;
    overflow: hidden;
    margin-bottom: 54px;
    width: 100%;
    z-index: 1;
}
#banner .link-show {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.link-show a {
    color: #252525;
    display: inline-block;
    line-height: 24px;
    font-size: 18px;
    padding: 15px 30px;
    background-color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
    text-decoration: none;
}
.link-show span {
    padding-left: 10px;
}
.wrapper-880 {
    color: #282828;
    border-top: 1px solid #000;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 auto;
    padding: 35px 0;
}
.wrapper-880 .desription {
    width: 630px;
    margin: 0 auto;
}
.title-1 {
    color: #282828;
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 5px;
}
/*==============*/
.wrap-section {
    color: #484848;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    padding: 25px 0 40px;
    width: 100%;
}
.wrap-section .section-box {
    float: left;
    position: relative;
}
.wrap-section .section-box:first-child {
    width: 800px;
}
/*=============================footer======================*/
#footer
{
    background-color: #ff7920;
    padding: 70px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
#footer .row {
    margin-left: 120px;
    margin-right: 120px;
}
#footer2 {
    padding: 50px 0 10px;
    position: relative;
    width: 100%;
    z-index: 1;
}
#footer, #footer a, #footer2, #footer2 a
{
    color: #484848;
    font-size: 14px;
    line-height: 20px;
}
#footer2 h4
{
    color: #000; 
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0;
}
.footer-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/footer-left.png') no-repeat left center;
}
.footer-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/footer-right.png') no-repeat right center;
}
.title-footer {
    color: #fff;
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    display: block;
}
.footer-content {
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    width: 330px;
}
#footer .hotline {
    border-left: 2px solid #fff;
    padding-left: 56px;
    padding-top: 20px;
    font-size: 24px;
    color: #fff;
}
#footer .hotline p {
    padding: 45px 0 10px;
    background: url('../images/icon-hotline.png') no-repeat 82px 2px;
}
#footer .hotline span {
    font-size: 36px;
}
.list-address
{
    list-style: none;
    padding: 0;
    width: 100%;
}
.list-address li
{
    position: relative;
    margin-bottom: 5px;
    font-size: 13px;
}
.list-address .glyphicon
{
    display: block;
    font-size: 13px;
    left: 0;
    top: 0;
    height: 20px;
    line-height: 20px;
    position: absolute;
    width: 20px;
}
/*=============================================site-repond==============================*/
 .desktop-showhide, .desktop-992
 {
     display: block;
 }
 .mobile-showhide, .ipadmo-992
 {
     display: none;
 }
 .menu-sroll
 {
    -webkit-box-shadow: 0 3px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 3px 5px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 3px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
     position: fixed;
     z-index: 9997;
 }
 /* Large desktop */
@media (min-width: 1200px)
{
    
}
@media (min-width: 993px) and (max-width: 1199px)
{
    .sologan {
        width: 320px;
    }
    .hotline {
        background-position: left bottom;
        font-size: 16px;
        line-height: 22px;
        margin-top: 0;
    }
    .list-hotline {
        font-size: 24px;
        line-height: 30px;
    }
    #menu > li > a {
        font-size: 15px;
        line-height: 44px;
        padding: 0 6px;
    }
    #menu li li a {
        font-size: 13px;
        line-height: 20px;
    }
    #menu ul {
        width: 210px;
    }
    #header .form-search {
        margin-top: 6px;
    }
    /*==================*/
    #colContent {
        width: 640px;
    }
    .detail-images {
        width: 45%;
    }
    .protb-none .product-name a {
        font-size: 13px;
        line-height: 20px;
    }
}
@media (min-width: 993px)
{
}
@media (max-width: 992px)
{
    .desktop-992 {
        display: none;
    }
    .ipadmo-992 {
        display: block;
    }
    #header .form-search {
        margin-top: 4px;
    }
    .hotline {
        background-position: left bottom;
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
    }
    .list-hotline {
        font-size: 20px;
        line-height: 24px;
    }
    /*==================*/
    #colAside, #colContent {
        float:none;
        padding: 15px 0;
        width: 100%;
    }
    .slider-text {
        margin-bottom: 0;
    }
    #footer .logo {
        margin: 0 auto;
    }
    .detail-images {
        width: 46%;
    }

}
@media (min-width: 769px)
{
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px)
{
    
    #header .logo {
        width: 130px;
    }
    .sologan {
        width: 205px;
    }
    .protb-none .product-name a {
        font-size: 13px;
        line-height: 20px;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
{
     .desktop-showhide
     {
         display: none !important;
     }
     .mobile-showhide
     {
         display: block !important;
     }
    .aside-box {
        margin-bottom: 20px;
    }
    .adv-box {
        padding: 15px;
    }
    .wrap-footer .share-w {
        float: none;
        padding: 10px 0;
        width: 100%;
    }
    .share-w a {
        margin-right: 5px;
    }
    .copyright {
        text-align: center;
    }
    .wrap-images .detailimg-desktop {
        position: absolute;
        opacity: 0;
	    filter:alpha(opacity=0); 
        z-index: -1;
    }
    .wrap-images .detailimg-mobile {
        position: relative;
        opacity: 1;
	    filter:alpha(opacity=100); 
        z-index: 1;
    }
    .text-box {
        font-size: 15px;
        line-height: 20px;
        padding: 10px;
    }
}
@media (min-width: 481px) and (max-width: 767px)
{
}
@media (min-width: 640px) and (max-width: 767px)
{
    .hotline {
        font-size: 11px;
        line-height: 16px;
    }
    .list-hotline {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 639px)
{
    .wrapper-menu {
        padding: 0;
    }
    #header .logo {
        margin: 0 auto;
        width: 40px;
        padding: 0;
    }
    .header-top {
        padding: 6px 0;
    }
    .header-top .col-xs-6 {
        width: 100%;
    }
    .hotline-w {
        display: none;
    }
    #header .form-search {
        margin-left: 45px;
        margin-top: 0;
    }
    .menu-mo {
        float: right;
    }
    #header .form-search .search-btn {
        background-position: center center;
        float: left;
        height: 32px;
    }
    #header .form-search .search-text {
        color: #ededed;
        font-size: 13px;
        padding-left: 10px;
    }
    #header .form-search .search-input {
        padding: 0;
    }
    .product-tb .col-xs-4  {
        width: 50%;
    }
    .aside-row .col-xs-6 {
        width: 100%;
    }
    .aside-box {
        padding: 0 10px;
    }
    .adv-box {
        padding: 15px;
    }
    .menu-list li a {
        padding-left: 12px;
    }
    .menu-list li li {
        margin-left: 12px;
    }
    .detail-images {
        float: none;
        margin: 0 auto;
        width: 360px;
    }
    .details-content {
        padding: 10px 0;
        width: 100%;
    }
        .details-content .product-name {
            font-size: 16px;
            line-height: 24px;
        }
        .details-content .product-code {
            font-size: 13px;
            line-height: 20px;
        }
    #footer h4 {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 5px;
    }
    .list-address li {
        padding-left: 25px;
    }
}
@media (max-width: 479px)
{
    #header .form-search {
        overflow: hidden;
        width: auto;
    }
    .product-box, .product-name a {
        font-size: 13px;
        line-height: 20px;
    }
    .title, .head-bg {
        font-size: 16px;
        padding: 5px 10px;
    }
        .head-bg .title-in {
            font-size: 16px;
        }
    .protb-none .col-xs-6 {
        width: 100%;
    }
}
@media (max-width: 419px)
{
    
    .detail-images {
        width: 100%;
    }
}
@media (max-width: 359px)
{
    .product-box, .product-name a {
        font-size: 12px;
        line-height: 16px;
    }
}
@media (max-width: 319px)
{
}