
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aside-top aside-box">
    <div class="ma-hd">MÃ HỢP ĐỒNG <span>HD02112016</span></div>
    <div class="kh-box">KHÁCH HÀNG <span>NGUYỄN THỊ XUÂN DIỆU</span></div>
    <div class="ngaygiao-box">NGÀY TẠO HỢP ĐỒNG<span>31/12/2016</span></div>
    <div class="nhanvien">NHÂN VIÊN BÁN HÀNG <span>LOC TAN</span></div>
</div>
<div class="form-hopdong">
    <div class="form-box">
        <div class="form-lable">
            Thời Gian
        </div>
        <div class="form-input">
            <input type="text" placeholder="Ngày Tư Vấn" class="datepicker">
            <input type="text" placeholder="Ngày Hẹn Gặp" class="datepicker">
            <textarea placeholder="Ghi chú"></textarea>
        </div>
    </div>
    <div class="form-box">
        <div class="form-lable">
            Thiết kế và gửi Market
        </div>
        <div class="form-input">
            <div class="custom_file_upload">
                <div class="text-input">Tải Lên Mẫu Market</div>
                <div class="file_upload">
                    <input type="file" id="file_upload" name="file_upload">
                </div>
                <div class="text-input"><a href="#">Chi tiết thiết kế</a></div>
            </div>
        </div>
    </div>
    <div class="form-box">
        <div class="form-lable">
            Báo Giá
        </div>
        <div class="form-input">
            <div class="custom_file_upload">
                <div class="text-input">Tải Lên Bản Giá</div>
                <div class="file_upload">
                    <input type="file" id="file_upload" name="file_upload">
                </div>
            </div>
        </div>
    </div>
    <div class="form-box">
        <div class="form-lable">
            Hẹn Gặp
        </div>
        <div class="form-input">
            <input type="text" class="datepicker">
            <div class="form-check"><input type="checkbox" name="vehicle" value=""> Khách Hàng đồng ý với mẫu thiết kế</div>
        </div>
    </div>
    <div class="form-box">
        <div class="form-lable">
            Áo mẫu đã duyệt
        </div>
        <div class="form-input">
            <div class="custom_file_upload">
                <div class="text-input">Tải Lên Mẫu Đã Duyệt</div>
                <div class="file_upload">
                    <input type="file" id="file_upload" name="file_upload">
                </div>
            </div>
        </div>
    </div>
    <div class="form-box">
        <div class="form-lable">
            Hợp Đồng
        </div>
        <div class="form-input">
            <div class="custom_file_upload">
                <div class="text-input">Tải Lên Hợp Đồng</div>
                <div class="file_upload">
                    <input type="file" id="file_upload" name="file_upload">
                </div>
            </div>
        </div>
    </div>
    <div class="form-box">
        <div class="form-lable">
            Sản Xuất
        </div>
        <div class="form-input">
            <input type="text" placeholder="Ngày Bắt Đầu" class="datepicker">
            <input type="text" placeholder="Ngày Kết Thúc" class="datepicker">
        </div>
    </div>
    <div class="form-box">
        <div class="form-lable">
            Chuyển Tiền
        </div>
        <div class="form-input">
            <div class="form-check"><input type="radio" name="gender" value="male"> 50% Số Tiền</div>
            <div class="form-check"><input type="radio" name="gender" value="male"> 100% Số Tiền</div>
        </div>
    </div>
    <div class="form-box">
        <div class="form-lable">
            Gọi Nhắc
        </div>
        <div class="form-input">
            <div class="form-check"><input type="radio" name="gender" value="male"> Lần 1</div>
            <div class="form-check"><input type="radio" name="gender" value="male"> Lần 2</div>
            <div class="form-check"><input type="radio" name="gender" value="male"> Lần 3</div>
        </div>
    </div>
    <div class="form-box">
        <div class="form-lable">
            Trạng Thái
        </div>
        <div class="form-input">
            <div class="form-btn form-btn1"><a href="#">ĐÃ KÝ</a></div>
            <div class="form-btn form-btn2"><a href="#">CHỜ PHẢN HỒI</a></div>
            <div class="form-btn form-btn3"><a href="#">THẤT BẠI</a></div>
        </div>
    </div>
</div>
<div class="btn-main">
    <div class="luu"><a href="#">LƯU</a></div>
    <div class="huy"><a href="#">HỦY</a></div>
</div>

